.container{
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: coral;
    text-transform: uppercase;
    text-shadow: 0 0  5px coral;
    box-shadow:0 0 20px darkblue;
}